/* Step 1*/
/* Animated the logo to appear and expand in size.*/
@keyframes animateLogo {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}

/* Adding the animation to the logo picture */
#logo {
    animation: animateLogo 5s ease forwards; 
}

/* Step 2*/
/* Added poppins font to body and seriff as abackup and background image and color. */
body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
/* Step 3*/
/* Styled the header to make sure that the columns appear centered */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Step 4*/
/* Arranged nav links to be centerd and to wrap to next line if needed */
.nav_links{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
/* Step 5*/
/* Styled the links to make them blue even if they are visited */
a:link,
a:visited {
    color: #0110de; 
}
/* Step 6*/
/* Styled specific elements in the header based on directions such as padding and background color*/
.card>header{
   background-color: #288088;
   border: 2px solid #45ADAD;
   padding: 20px 0;
   border-radius: 50px 50px 0 0; 
}

/* Step 7*/
/* Used flex-basis to set initial width of the card and also added rounding*/
.card{
    flex-basis: 450px;
    border-radius: 50px 50px 0 0;
}
/* Step 8*/
/* Centered the content and made sure that it matches the example*/
.pricing{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Step 9*/
/* Styled images so that they have a blue border and adjusted margins and width*/
.gallery>img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
 }

/* Step 10*/
/* Adjusted to make sure it looks similar to the examples by centering content and using flex-wrap*/
 .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Step 11, 12, and 13 */
@media only screen and (min-width: 900px) {
    /* Adjusted header and nav links so that the logo is on the left with links on the right */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        position: sticky;
    }
    .nav_links{
        display: flex;
        flex-flow: row wrap;
    }
    /* Adjusted to specifiy the size of 275pxto ensure they have similar width */
    .card{
        flex-basis: 275px;
    }
    .pricing{
        align-items: center;
    }
    /* Made the header stay on top similar to a sticky scroll and is visible always*/
    body>header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}
/* Step 14 */
/* Logo appears but doesn't animate if user doesn't want motion */
@media all and (prefers-reduced-motion:reduced){
#logo{
    animation: none; 
    width: 475px;
    opacity: 1;
}
}

@media print {
    body>header{
        align-items: center;
    }
    .nav_links{
        flex-flow: row wrap; /* Step 17 - adjust to match the example for print */
        justify-content: space-between;
    }
    body{
        font-family: Arial, Helvetica; /* Step 15 - changed font to arial with hevletica as secodnary */
        background-image: none; /* Step 16 - removed background image*/
    }
    .pricing{ /* Step 18 - align itmes at the bottom */
        align-items: flex-end;
    }
    .card{ /* Step 19 - adjusted card border and sizig to 325px*/
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    #gallery, .gallery{ /* Step 20 - gallery is made not visible*/
        display: none;
    }
    .card ul li:nth-child(2)::after { /* Step 21 */
        content: '👍';  /* Insert thumbs-up */
        margin-right: 8px;  /* Add space between emoji and text */
        font-size: 1.2em;  /* Adjusted sizing*/
    }
}